#main {
	background-color: #000;
	background: url('http://s15.joke-lan.net/assets/sites/5/2015/07/bg1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #DBDBDB;
}

h1, h2, h3, h4 {
	color: #EAEAEA;
}

#header h1 small {
	color: rgb(210, 219, 195);
}


.content-container a {
  color: #EAEAEA;
  text-decoration: none;
  background-color: rgba(68, 74, 63, 0.4);
  padding-left: 3px;
  padding-right: 3px;
    border: 1px solid rgba(221, 221, 221, 0.0);
  box-sizing: border-box;
}

.content-container a:hover {
	color: #FFF;
  background-color: rgba(68, 74, 63, 0.8);
    border: 1px solid rgba(221, 221, 221, 0.2);
}

.content-container img {
	vertical-align: middle;
	width: 100%;
	height: auto;
}
// NAVIGATION
nav ul {
	margin: 0;
	padding: 0;
}

nav li a {
	color: #EAEAEA;
	text-decoration: none;
	width: 100%;
	height: 100%;
}
nav li a:hover {
	color: #999;
	text-decoration: none;
}

nav li a:focus {
	color: #EAEAEA;
	text-decoration: none;
}

nav li:hover > a {
	color: #999;
	text-decoration: none;
}


nav li {
	padding-left: 10px;
	list-style: none;
	margin: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-left: solid 2px #545448;
}

nav li.selected {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: rgba(29, 29, 29, 0.3);
}
